


<div class="profile-panel">

  <img [src]="user.photo" alt="User Photo">
 
  <div> <strong> Name: {{ user.name }} </strong> </div>
  <div><strong> First Name: {{ user.firstName }} </strong> </div>
  <div *ngIf="!hideAge">Age: {{ user.age }}</div>


  <div>
    <p>{{ user.quote }}</p>
    <label for="quote">Quote:</label>
    <input type="text" id="quote" [(ngModel)]="user.quote">
  </div>

  <div class="button-panel">
    <div class="button"> <button (click)="toggleAgeVisibility()">Afficher/Masque mon âge </button></div>
   
  </div>


  



</div>